html *{
    padding: 0;
    margin: 0;
}
html{
    background-color: black;

}
h1 {
    color: red;
    padding: 20px;
    font-size: 100px;
}
nav>ul>li{
    text-decoration: none;
    display:inline;
    font-size: 50px;
    padding: 20px;
    color: red;
    font-family: Georgia, serif;
    width: 33%;

}
h2{
    color: red;
}
#midle{
    width: 80%;
}
nav>ul>li:hover{
    text-decoration: none;
    display:inline;
    font-size: 50px;
    padding: 20px;
    background-color: red;
    color: black;

}
nav>ul>li>a{
    text-decoration: none;

}
nav>ul>li>a:visited{
    text-decoration: none;
    display:inline;
    font-size: 50px;
    padding: 20px;
    color: red;
}
section  li ,section h2,#pic {
    text-decoration: none;
    color: red;
    padding : 10px;
 display: block;

}
section ul {
    border:5px dashed red ;
font-size: 40px;
    display: inline-block;
    padding: 10px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

secton img {
   display: inline-block;
    padding: 10px;
}
h2 {
    font-size: 40px;
}
footer img {
    width: 50%;
}
#day,#pic{
    display: none;

}
footer{
    display: block;
    margin-top: 1000px;}

    @media only screen and (min-width: 600px)  {
    #day,#pic{
        display: block;
.0.
        font-size: 40px;
    }
        #pic *{
            width: 20%;
            font-size: 40px;
        }
    #night{
        display: none;
    }
#day
        {
            float: right;
        }
        #midle{
            float:right;
            width: 40%;
            margin-top: -500px;


        }
}
@media only screen and (min-width: 768px) {
    #day,#pic *{
        width: 20%;
    }
    #pic *{
        margin-right: -55px;
    }
}
